
.movie-card {
  margin: 10px;
}

.movie-wrapper {
  max-width: 300px;
  float: left;
}

.place-holder {
  position: relative;
  z-index: 1;
  width: 300px;
  /*left: 15px;*/
}

.poster-img {

  width: 300px;
  height: 420px;

}

.detail-button {
  position: relative;
  left: 100px;
  bottom: 26px;
  border-radius: 4px;
}

.spinner-border {
  position: absolute;
  left: 514px;
  top: 250px;
}
