<div class="container" [hidden] ="onLoadingDetail">
  <div class="movie-info">
    <div class="detail-info">
      <div id="detail-poster">
        <img class="poster-img" src="{{movieDetail.Poster}}">
      </div>
      <div id="detail-text">
        <span>
          <span class="pl">Director</span>:
          <span class="attrs">{{movieDetail.Director}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Writer</span>:
          <span class="attrs">{{movieDetail.Writer}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Actors</span>:
          <span class="attrs">{{movieDetail.Actors}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Genre</span>:
          <span class="attrs">{{movieDetail.Genre}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Rated</span>:
          <span class="attrs">{{movieDetail.Rated}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Country</span>:
          <span class="attrs">{{movieDetail.Country}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Language</span>:
          <span class="attrs">{{movieDetail.Language}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Released</span>:
          <span class="attrs">{{movieDetail.Released}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Runtime</span>:
          <span class="attrs">{{movieDetail.Runtime}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Awards</span>:
          <span class="attrs">{{movieDetail.Awards}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Score</span>:
          <span class="attrs">{{movieDetail.Metascore}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Rating</span>:
          <span class="attrs">{{movieDetail.Rating}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Votes</span>:
          <span class="attrs">{{movieDetail.Votes}}</span>
        </span>
        <br>
        <span>
          <span class="pl">Plot</span>:
          <span class="attrs">{{movieDetail.Plot}}</span>
        </span>
      </div>
    </div>

  </div>

  <div class="price-button">
    Best Price: <div class="price-field" [hidden]="onLoadingPrice">{{moviePrice.Price | currency}} ( {{providedBy}} )</div>
    <div id="priceSpin" class="spinner-border" role="status" [hidden]="!onLoadingPrice">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div id="detailSpin" class="spinner-border" role="status" [hidden]="!onLoadingDetail">
  <span class="sr-only">Loading...</span>
</div>
