#detail-poster {
  float: left;
  margin: 15px;
  width: 300px;
  height: 400px;
}

#detail-text {
  float: left;
  width: 500px;
  margin: 15px 0 0 0;
  padding-left: 15px;
  border-left: 1px solid #eaeaea;
  color: #000000b3;
}

#priceSpin {

}

#detailSpin {
  position: absolute;
  left: 514px;
  top: 250px;
}

.pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

.attrs {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.price-line {
  width:440px;
  margin-left:0px;
}

.poster-img {
  width: 280px;
  height: 390px;
}

.spinner-border {
 
}

.price-field {
    float: right;
}
